html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container-remove {
    display: none;
}

.game-results{
      display: flex;
      justify-content: center;
      margin-top: 3em;
      align-items: center;
      text-align: center;
      flex-direction: column;
      font-size: 25px;
}

.game-stars{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: row;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card:hover {
    background: #aa7ecd;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}


.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.match {
  animation: flash 4s;
  -webkit-animation: flash 200ms;
	-webkit-animation-duration: infinite;
}

.mismatch {
  animation: shake 500ms cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes flash {
    0%   { background-color: #aa7ecd; }
    49% { background-color: #02b3e4; }
    50% { background-color: #aa7ecd; }
    99% { background-color: #aa7ecd; }
    100% { background-color: #02b3e4; }
}



/*
  *Buttons
  */

.play-again{
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 12px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  color: black;
  cursor: pointer;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px 20px;
  text-align: center;
}

.play-again:hover {
  background: white;
}

.reset {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 12px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  color: black;
  cursor: pointer;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px 10px;
  text-align: center;
}

.reset:hover {
  background: white;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 25px;
    text-align: center;
    width: 550px;
    margin-bottom: 5px;
    padding: 5px;

}

.score-panel .stars {
    margin: 0;
    padding: 5px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.star-remove{
  display:none;
}

.timer{
  font-family: sans-serif,open;
  font-size: 20px;
}

/* Responsive design elements*/


@media screen and (max-width: 700px) {

  .container ul{
    display: inline-flex;
    height: 100%;
    width: 100%;
  }
  .deck .card {
      height: 100px;
      width: 100px;
      margin: 10px;
  }
